In [55]:
import pandas as pd

In [56]:
df=pd.read_csv('data/기아_지역별수출실적_전처리.csv')

In [57]:
df

,차량 구분,국가명,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,승용차,US,1048,633,627,245,0,0,2,0,0,4,0,5,2023
1,휴양용 차량,US,33056,29697,31985,29103,28763,26013,27234,22619,20969,24759,33951,30920,2023
2,상업용 차량,US,0,0,0,0,0,0,0,0,0,0,0,0,2023
3,특수 차량,US,0,0,0,0,0,0,0,0,0,0,0,0,2023
4,CKD(모듈형 조립 방식),US,0,0,0,0,0,0,0,0,0,0,0,0,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,휴양용 차량,China,0,0,0,0,0,0,0,0,0,0,0,0,2025
186,상업용 차량,China,0,0,0,0,0,0,0,0,0,0,0,0,2025
187,특수 차량,China,0,0,0,0,0,0,0,0,0,0,0,0,2025
188,CKD(특수 차량 제외),China,0,0,0,0,0,0,0,0,0,0,0,0,2025
189,CKD(특수 차량),China,0,0,0,0,0,0,0,0,0,0,0,0,2025

In [58]:
df['국가명'].unique()

array(['US', 'Canada', 'Mexico', 'EU+EFTA', 'E.Europe/CIS',
       'Latin America', 'Middle East/Africa', 'Asia / Pacific', 'China',
       'India'], dtype=object)

In [59]:
df['국가명'].value_counts()

국가명
US                    19
Canada                19
Mexico                19
EU+EFTA               19
E.Europe/CIS          19
Latin America         19
Middle East/Africa    19
Asia / Pacific        19
China                 19
India                 19
Name: count, dtype: int64

In [60]:
df2=pd.read_csv('data/현대_시장구분별_수출실적.csv')

In [61]:
df2['국가'].unique()

array(['기타', '동유럽', '북미-멕시코', '북미-미국', '북미-캐나다', '서유럽', '아시아', '중남미',
       '중동·아프리카'], dtype=object)

In [62]:
# 영어 → 한글 매핑 딕셔너리
country_mapping = {
    'US': '북미-미국',
    'Canada': '북미-캐나다',
    'Mexico': '북미-멕시코',
    'EU+EFTA': '서유럽',
    'E.Europe/CIS': '동유럽',
    'Latin America': '중남미',
    'Middle East/Africa': '중동·아프리카',
    'Asia / Pacific': '아시아',
    'China': '아시아',
    'India': '기타'
}

# 매핑 적용
df['국가명'] = df['국가명'].map(country_mapping)

In [63]:
df['국가명']

0      북미-미국
1      북미-미국
2      북미-미국
3      북미-미국
4      북미-미국
       ...
185      아시아
186      아시아
187      아시아
188      아시아
189      아시아
Name: 국가명, Length: 190, dtype: object

In [64]:
df[df['국가명']=='아시아']

,차량 구분,국가명,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
42,승용차,아시아,2206,1781,2515,1869,2042,2144,1290,1424,1607,1504,1627,1724,2023
43,휴양용 차량,아시아,6120,5117,7258,6037,6697,8711,7468,7819,6327,6287,7771,8213,2023
44,상업용 차량,아시아,359,448,298,328,301,353,319,342,104,73,87,79,2023
45,특수 차량,아시아,30,32,10,5,17,28,6,0,29,0,2,35,2023
46,CKD(모듈형 조립 방식),아시아,3384,4184,3464,2536,2072,2456,1920,2760,2884,3324,2348,4136,2023
47,총합,아시아,12099,11562,13545,10775,11129,13692,11003,12345,10951,11188,11835,14187,2023
48,승용차,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2023
49,휴양용 차량,아시아,0,0,0,0,0,129,96,63,1,0,6,0,2023
50,상업용 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2023
51,특수 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2023
52,CKD(모듈형 조립 방식),아시아,0,0,0,0,0,0,0,0,0,0,0,0,2023
53,총합,아시아,0,0,0,0,0,129,96,63,1,0,6,0,2023
109,승용차,아시아,2231,1998,2237,3249,2887,2459,1951,2029,485,944,1025,722,2024
110,휴양용 차량,아시아,7217,7298,5763,6850,6142,7721,7551,7131,5364,5734,6158,9655,2024
111,상업용 차량,아시아,379,366,381,260,191,247,253,328,249,146,144,297,2024
112,특수 차량,아시아,0,4,20,24,3,5,1,11,5,12,1,103,2024
113,CKD(특수 차량 제외),아시아,2260,3200,3000,3040,3340,2940,3220,3060,3820,5040,4640,3760,2024
114,CKD(특수 차량),아시아,48,24,72,48,24,36,60,72,48,48,50,36,2024
115,총합,아시아,12135,12890,11473,13471,12587,13408,13036,12631,9971,11924,12018,14573,2024
123,승용차,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2024
124,휴양용 차량,아시아,0,0,0,0,1,0,0,0,0,0,0,0,2024
125,상업용 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2024
126,특수 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2024
127,CKD(특수 차량 제외),아시아,0,0,0,0,0,0,0,0,0,0,0,0,2024
128,CKD(특수 차량),아시아,0,0,0,0,0,0,0,0,0,0,0,0,2024
129,총합,아시아,0,0,0,0,1,0,0,0,0,0,0,0,2024
172,승용차,아시아,409,0,0,0,0,0,0,0,0,0,0,0,2025
173,휴양용 차량,아시아,7119,0,0,0,0,0,0,0,0,0,0,0,2025
174,상업용 차량,아시아,225,0,0,0,0,0,0,0,0,0,0,0,2025
175,특수 차량,아시아,3,0,0,0,0,0,0,0,0,0,0,0,2025
176,CKD(특수 차량 제외),아시아,3040,0,0,0,0,0,0,0,0,0,0,0,2025
177,CKD(특수 차량),아시아,60,0,0,0,0,0,0,0,0,0,0,0,2025
184,승용차,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
185,휴양용 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
186,상업용 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
187,특수 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
188,CKD(특수 차량 제외),아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
189,CKD(특수 차량),아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025

In [65]:
df

,차량 구분,국가명,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,승용차,북미-미국,1048,633,627,245,0,0,2,0,0,4,0,5,2023
1,휴양용 차량,북미-미국,33056,29697,31985,29103,28763,26013,27234,22619,20969,24759,33951,30920,2023
2,상업용 차량,북미-미국,0,0,0,0,0,0,0,0,0,0,0,0,2023
3,특수 차량,북미-미국,0,0,0,0,0,0,0,0,0,0,0,0,2023
4,CKD(모듈형 조립 방식),북미-미국,0,0,0,0,0,0,0,0,0,0,0,0,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,휴양용 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
186,상업용 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
187,특수 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
188,CKD(특수 차량 제외),아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
189,CKD(특수 차량),아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025

In [66]:
# 📌 월 컬럼 리스트
months = [f'{i}월' for i in range(1, 13)]

# 🎯 국가명 기준으로 월별 데이터 합산
df_grouped = df.groupby(['차량 구분', '국가명', '연도'])[months].sum().reset_index()

In [67]:
df_grouped

,차량 구분,국가명,연도,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,CKD(모듈형 조립 방식),기타,2023,0,0,0,0,0,0,0,0,0,0,0,0
1,CKD(모듈형 조립 방식),동유럽,2023,840,1320,880,1040,1120,800,840,1200,1000,840,480,640
2,CKD(모듈형 조립 방식),북미-멕시코,2023,0,0,0,0,0,0,0,0,0,0,0,0
3,CKD(모듈형 조립 방식),북미-미국,2023,0,0,0,0,0,0,0,0,0,0,0,0
4,CKD(모듈형 조립 방식),북미-캐나다,2023,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,휴양용 차량,중남미,2024,2385,1665,1950,2274,2391,2560,2222,2495,1532,1952,2876,5013
167,휴양용 차량,중남미,2025,1316,0,0,0,0,0,0,0,0,0,0,0
168,휴양용 차량,중동·아프리카,2023,3959,3563,3317,3817,4512,3752,2486,3449,1391,2298,2543,1811
169,휴양용 차량,중동·아프리카,2024,3411,2915,4083,2447,2775,2967,3530,2563,3585,4464,3039,7596
170,휴양용 차량,중동·아프리카,2025,3466,0,0,0,0,0,0,0,0,0,0,0

In [68]:
df_grouped['국가명'].unique()

array(['기타', '동유럽', '북미-멕시코', '북미-미국', '북미-캐나다', '서유럽', '아시아', '중남미',
       '중동·아프리카'], dtype=object)

In [69]:
df_grouped

,차량 구분,국가명,연도,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,CKD(모듈형 조립 방식),기타,2023,0,0,0,0,0,0,0,0,0,0,0,0
1,CKD(모듈형 조립 방식),동유럽,2023,840,1320,880,1040,1120,800,840,1200,1000,840,480,640
2,CKD(모듈형 조립 방식),북미-멕시코,2023,0,0,0,0,0,0,0,0,0,0,0,0
3,CKD(모듈형 조립 방식),북미-미국,2023,0,0,0,0,0,0,0,0,0,0,0,0
4,CKD(모듈형 조립 방식),북미-캐나다,2023,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,휴양용 차량,중남미,2024,2385,1665,1950,2274,2391,2560,2222,2495,1532,1952,2876,5013
167,휴양용 차량,중남미,2025,1316,0,0,0,0,0,0,0,0,0,0,0
168,휴양용 차량,중동·아프리카,2023,3959,3563,3317,3817,4512,3752,2486,3449,1391,2298,2543,1811
169,휴양용 차량,중동·아프리카,2024,3411,2915,4083,2447,2775,2967,3530,2563,3585,4464,3039,7596
170,휴양용 차량,중동·아프리카,2025,3466,0,0,0,0,0,0,0,0,0,0,0

In [70]:
df_grouped.to_csv('data/기아_지역별수출실적_전처리.csv', index=False)

In [71]:
df2['국가'].unique()

array(['기타', '동유럽', '북미-멕시코', '북미-미국', '북미-캐나다', '서유럽', '아시아', '중남미',
       '중동·아프리카'], dtype=object)

In [47]:
df2.loc[df2['국가']=='아시아-기타', '국가'] = '아시아'

In [51]:
df2.drop('Unnamed: 0', axis=1, inplace=True)

In [52]:
df2

          국가    연도   월     y          ds
0         기타  2025   1    46  2025-01-01
1        동유럽  2023   1  2535  2023-01-01
2        동유럽  2023   2  3074  2023-02-01
3        동유럽  2023   3  2598  2023-03-01
4        동유럽  2023   4  3904  2023-04-01
..       ...   ...  ..   ...         ...
196  중동·아프리카  2024   9  7645  2024-09-01
197  중동·아프리카  2024  10  9330  2024-10-01
198  중동·아프리카  2024  11  8768  2024-11-01
199  중동·아프리카  2024  12  8388  2024-12-01
200  중동·아프리카  2025   1  7909  2025-01-01

[201 rows x 5 columns]

In [53]:
df2['국가'].unique()

array(['기타', '동유럽', '북미-멕시코', '북미-미국', '북미-캐나다', '서유럽', '아시아', '중남미',
       '중동·아프리카'], dtype=object)

In [54]:
df2.to_csv('data/현대_시장구분별_수출실적.csv', index=False)